{% extends 'blog/layout.html' %}
  {% block content %}
    <div class="post-container">
        <p><h2><a href="/post/{{post.id}}">{{ post.title }}</a></h2></p>
        <p><small>{{ post.text|linebreaks }}</small></p>
        <p><small><em>published: {{ post.published_date }} by <a href="/postsby/{{post.author.id}}">{{post.author}}</a></em></small></p>
    </div>
    <div class="post-container">
    	{% for comment in comments %}
    		<div>
    			<h3>{{comment.author}}</h3>
    			<p>{{comment.text}}</p>
    		</div>
    	{% endfor %}
    </div>
  {% endblock content %}
