<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
      <div>
          <h1><a href="/">Django Girls Blog</a></h1>
      </div>
      <p><a href="/">Index</a>---<a href="/contributors">Contributors</a></p>
      <strong>Total Posts: {{ posts.count }}</strong>
      {% for post in posts %}
          <div>
              <p>published: {{ post.published_date }}</p>
              <h1><a href="/post/{{post.id}}">{{ post.title }}</a><small>{{post.author}}</small></h1>
              <p>{{ post.text|linebreaks }}</p>
          </div>
      {% endfor %}
    </body>
</html>
