{% extends 'blog/layout.html' %}
  {% block content %}
      <strong>Total Posts: {{ posts.count }}</strong>
      {% for post in posts %}
      <div class="post-container">
          <p><h2><a href="/post/{{post.id}}">{{ post.title }}</a></h2></p>
          <p><small>{{ post.text|linebreaks }}</small></p>
          <p><small><em>published: {{ post.published_date }} by <a href="/postsby/{{post.author.id}}">{{post.author}}</a></em></small></p>
      </div>




      {% endfor %}
  {% endblock content %}
