<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
      <div>
          <h1><a href="/">Django Girls Blog</a></h1>
      </div>
      <p><a href="/">Index</a></p>
      {% for user in users %}
          <div>
             <a href="/postsby/{{user.id}}">{{user.username}}</a>
          </div>
        {% for post in posts %}
          {{ total = 0 }}
          {% if post.author = user %}
            {{ post.title }}
            {{ total|add:"1" }}
          {% endif %}
        {% endfor %}
        <strong>ss{{ total }}</strong>
      {% endfor %}
    </body>
</html>
